[submodule "addons/cpp_file_editor/Scripts/godot-cpp"]
	path = addons/cpp_file_editor/Scripts/godot-cpp
	url = https://github.com/godotengine/godot-cpp
	ignore = dirty
[submodule "addons/cpp_file_editor/Scripts/tree-sitter"]
	path = addons/cpp_file_editor/Scripts/tree-sitter
	url = https://github.com/tree-sitter/tree-sitter
	ignore = dirty